.hero-section {
    height:79.94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 80px;
    background: linear-gradient(91.31deg, #FBF6FF 1.04%, #F6F9FF 96.51%);
  }
  
  .hero-content {
    max-width: 50%;
    text-align: left;
  }
  
  .hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .hero-content h1 span {
    color: #007bff;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .hero-image{
    width:32.46%;
    height:36.25%;
  }

  image{
    width:32.46%;
    height:36.25%;
    
  }

  .get-started {
    font-family: "Montserrat", sans-serif;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border: solid 2px black;
    border-radius: 5px;
    font-weight:700;
    cursor: pointer;
  }
  